body {
  background: rgb(49, 49, 49);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

.imagelogo {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 20%;
  pointer-events: none;
  user-select: none;
}

.imagelogo img {
  max-width: 300px;
}

.container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.input {
  border-radius: 10px;
  outline: 2px solid #0044fe;
  border: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
  font-size: 16px;
  width: 250px;
  text-align: center;
}

.input:hover {
  transition: 0.4s;
  font-size: 18px;
  width: 255px;
}

.input:focus {
  outline-offset: 5px;
  background-color: #fff;
}

.button {
  background-color: transparent;
  color: #fff;
  width: 8.5em;
  height: 2.9rem;
  border: #6e00fe 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button:hover {
  background-color: #6e00fe;
  cursor: pointer;
}

.button svg {
  width: 1.6em;
  margin-right: 8px;
  transition: all 0.6s ease;
}

.button:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0;
}

.textbelow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}